@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Temperature */
[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

/* Poetry */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

/* Table */
#chapter-1-2 table,
#chapter-1-4 table{
	margin: auto;
}

#chapter-1-2 table td:last-child{
	font-variant-numeric: tabular-nums;
	padding-left: 2em;
	text-align: right;
}

#chapter-1-4 table td:nth-child(2){
	font-variant-numeric: tabular-nums;
	padding-left: 1em;
	text-align: right;
}

#chapter-1-4 table td:last-child{
	text-align: center;
}

/* List */
#chapter-1-4 ol {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */
/* Dedication */

section[epub|type~="dedication"] footer {
	margin-top: 1em;
}

section[epub|type~="dedication"] footer p {
	text-align: right;
}

section[epub|type~="dedication"] footer p:last-of-type {
	text-align: left;
}